/* General */
* {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: bold;
}

.row {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  --bs-gutter-x: 0;
}

.btn-primary {
  background-color: #757575;
  border: 2px solid #000000;
  font-size: 16px;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #000000;
  border-color: #000000;
}

.msg {
  color: #ffffff;
  background-color: #757575;
  border: 2px solid #000000;
  width: 100%;
  text-align: center;
  padding: 0.5rem;
}

/* navbar */
.navbar {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}

/* Events list */

#cards-container {
  display: flex;
  justify-content: space-evenly;
}

#events-container .card {
  margin: 0.5rem;
  position: relative;
  display: flex;
  min-width: auto;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
}

.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.card-body2 {
  flex: 1 1 auto;
  padding: 1rem 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.card .card-date {
  font-size: 16px;
  font-weight: bold;
  color: #757575;
  text-align: center;
}

/* Event create page */

#event-create-container label {
  font-weight: bold;
}

#event-create-container input,
#event-create-container select {
  font-size: 16px;
  font-weight: bold;
}

/* Dashboard */

.dashboard-events-container th {
  width: auto;
}

.dashboard-events-container form {
  display: inline-block;
}

/* footer */

footer {
  background-color: #333;
  position:fixed;
  margin-bottom: 0px;
  bottom: 0px;
  width: 100%;
}

.rtec a {
  font-size: 16px;
  color: #ffffff;
  font-weight: 900;
}

.rtec a:hover {
  background-color: transparent;
  color: #777;
}

.btn-floating .fab,
.btn-floating .far,
.btn-floating .fas {
    width: 2.3125rem;
    line-height: 2.3125rem;
    font-size: xx-large;
}

.mb-4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 !important;
}

  

.table th {
  font-weight: 900;
  text-align: center;
}

.table td {
  font-weight: 900;
  text-align: center;
}

label {
  display: inline-block;
  padding-bottom: 0.5rem;
}

.mx-auto {
  margin-right: auto!important;
  margin-left: auto!important;
  margin-bottom: 2rem;
}

.fab {
  font-family: "Font Awesome 5 Brands";
  font-size: large;
}